@model Theme_Implemenet.Models.CommentModelView
@{
    ViewData["Title"] = "Comment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Melody Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/Adminsite/vendors/iconfonts/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="~/Adminsite/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/Adminsite/vendors/css/vendor.bundle.addons.css">
    <link rel="stylesheet" href="~/Adminsite/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/Adminsite/images/favicon.png" />
</head>

<body>
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel" style="width:100%">
            <div class="content-wrapper">
                <div class="page-header">
                    <h3 class="page-title">
                         List Review
                    </h3>
                    <nav aria-label="breadcrumb">
                        <form>
                            <div class="row">
                                <div class="">
                                    <input name="term" class="form-control" placeholder="search bar" />
                                </div>
                                <div class="">
                                    <button type="submit" class="btn btn-primary mt-1 ml-2">search</button>
                                </div>
                            </div>
                        </form>
                    </nav>
                </div>
                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="table-sorter-wrapper col-lg-12 table-responsive">
                                        <table id="sortable-table-1" class="table">
                                            <thead>
                                                <tr>
                                                    <th class="sortStyle">UserName</th>
                                                    <th class="sortStyle">ProductName</th>
                                                    <th class="sortStyle">Comment</th>
                                                    <th class="sortStyle">Rating</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.rewies)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Product.productName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.comment)
                                                        </td>
                                                        <td>
                                                        @Html.DisplayFor(modelItem => item.Rating)
                                                        </td>                                                
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <nav aria-label="Page navigation example" class="float-right mt-3">
                              <ul class="pagination">

                                <li class="page-item @(Model.currentpage == 1 ? "disabled" : "")">
                                    <a class="page-link" asp-action="Comment" asp-route-currentpage="@(Model.currentpage - 1)">Previous</a>
                                </li>

                                @for (int i = 1; i <= Model.totalpage; i++)
                                {
                                    <li class="page-item @(i == Model.currentpage ? "active" : "")"><a class="page-link w-100" asp-action="Comment" asp-route-currentpage="@i">@i</a></li>
                                }
                                <li class="page-item @(Model.currentpage == Model.totalpage ? "disabled" : "")">
                                    <a class="page-link" asp-action="Comment" asp-route-currentpage="@(Model.currentpage + 1)">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


